@import "tailwindcss";

@theme {
  --color-white: #fff;
  --color-black: #000;
  --color-transparent: #ffffff00;

  --color-richblack-5: #F1F2FF;
  --color-richblack-25: #DBDDEA;
  --color-richblack-50: #C5C7D4;
  --color-richblack-100: #AFB2BF;
  --color-richblack-200: #999DAA;
  --color-richblack-300: #838894;
  --color-richblack-400: #6E727F;
  --color-richblack-500: #585D69;
  --color-richblack-600: #424854;
  --color-richblack-700: #2C333F;
  --color-richblack-800: #161D29;
  --color-richblack-900: #000814;

  --color-yellow-5: #FFF970;
  --color-yellow-25: #FFE83D;
  --color-yellow-50: #FFD60A;
  --color-yellow-100: #E7C009;
  --color-yellow-200: #CFAB08;
  --color-yellow-300: #B69507;
  --color-yellow-400: #9E8006;
  --color-yellow-500: #866A04;
  --color-yellow-600: #6E5503;
  --color-yellow-700: #553F02;
  --color-yellow-800: #3D2A01;
  --color-yellow-900: #251400;
}